* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #e5e5e5;
}
.bigcard {
  margin: 50px auto;
  width: 466px;
}
.card {
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 400px;
  background: url("../img/Image.png") center center no-repeat;
}

.header {
  position: relative;
}
.actions {
  display: block;

  font-family: "Quicksand", sans-serif;
  line-height: 22px;
  font-size: 18px;
}
.actions a {
  text-decoration: none;
  border: 1px solid transparent;
}
.signin {
  border-bottom: 2px solid #e66a64;
  padding-right: 26px;
  color: #fbf6e4;
  padding: 2px;
}
.actions a:hover {
  text-decoration: underline #e66a64;
}
.join {
  color: #e1c2f1;
  padding: 2px;
}

.content {
  display: flex;
}
.field {
  margin-bottom: 27px;
  color: #fbf6e4;
  font-size: 16px;
}
label .username,
label .password {
  border: 2px solid rgba(191, 185, 204, 0.54);

  background: none;
  height: 46px;
  width: 265px;
}
.check {
  display: flex;

  height: 16px;
}
.button {
  font-family: " Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
  background: #23ae92;
  color: #fbf6e4;

  width: 265px;
  height: 42px;
  border: none;

  padding: 10px 100px;
  cursor: pointer;
}
.button:hover {
  background: #23ae61;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  font-family: " Quicksand", sans-serif;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: #b9b9cc;
}
.links a:hover {
  text-decoration: underline #9c71cc;
}
