*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #e5e5e5;
}
.bigcard {
  margin: 50px auto;
  width: 466px;
}
.card {
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 400px;
  background: url("../img/Image.png") center center no-repeat;
}

.header {
  position: relative;
}
.actions {
  display: block;

  font-family: "Quicksand", sans-serif;
  line-height: 22px;
  font-size: 18px;
}
.actions a {
  text-decoration: none;
  border: 1px solid transparent;
}
.signin {
  border-bottom: 2px solid #e66a64;
  padding-right: 26px;
  color: #fbf6e4;
  padding: 2px;
}
.actions a:hover {
  text-decoration: underline #e66a64;
}
.join {
  color: #e1c2f1;
  padding: 2px;
}

.field {
  margin-bottom: 27px;
  color: #fbf6e4;
  font-size: 16px;
}
.field__fill {
  margin-top: 45px;
}
label {
  border: none;
  margin-bottom: 5px;
}
input {
  display: block;

  border: 2px solid rgba(191, 185, 204, 0.54);
  padding: 10px;
  background: none;
  height: 46px;
  width: 100%;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: #23ae92 auto 5px;
}
.checkbox label::before {
  content: "";

  background-color: #23ae61;
  margin-right: 8px;
  /* display: inline-block; */
  height: 16px;
  width: 16px;
  border: 1px solid;
  left: 0px;
  top: 3px;
}
.checkbox label::after {
  content: "";

  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 4px;
  top: 7px;
}
.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.button {
  font-family: " Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
  background: #23ae92;
  color: #fbf6e4;

  width: 265px;
  height: 42px;
  border: none;

  padding: 10px 100px;
  cursor: pointer;
}
.button:hover {
  background: #23ae61;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  font-family: " Quicksand", sans-serif;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: #b9b9cc;
}
.links a:hover {
  text-decoration: underline #9c71cc;
}
